---
import Layout from '../../layouts/Layout.astro'
import fetchApi from "../../lib/strapi.ts";
import Header from '../../components/blog/header.astro';
import type { default as BlogType, BlogCategory } from "../../interfaces/blogs.ts";
import   BlogComponent from '../../components/blog/blog.tsx'

const [blogs, categories] = await Promise.all([
  fetchApi<BlogType[]>({
    endpoint: "blogs?populate[image][fields][0]=url&populate[image][fields][1]=formats&populate[blog_category][fields][0]=title",
    wrappedByKey: "data",
  }),
  fetchApi<BlogCategory[]>({
    endpoint: "blog-categories",
    wrappedByKey: "data", 
  })
]);

// Ensure we have arrays even if the response is undefined
const blogsArray = Array.isArray(blogs) ? blogs : [];
const categoriesArray = Array.isArray(categories) ? categories : [];

---

<Layout title="Blog">
  <div>
    <Header />
    <BlogComponent client:load blogs={blogsArray} categories={categoriesArray}/>
  </div>
</Layout>