---
import Layout from '../../layouts/Layout.astro'
import DuAn from '../../components/duan/duan.tsx'
---

<Layout title="Dự án">
  <div class="pt-14 bg-white">
    <DuAn client:load/>
  </div>
</Layout>