---
import Layout from "../../layouts/Layout.astro";

const items = [
    { title: "Khách hàng", value: "1,000+" },
    { title: "Kinh nghiệm", value: "10 năm" },
    { title: "Miền Bắc", value: "4 kho" },
    { title: "Đối tác toàn cầu", value: "Top 3" },
];

const partners = [
    { name: "ja-solar", logo: "/images/brand-ja-solar-logo.svg" },
    { name: "canadian-solar", logo: "https://scoullerenergy.com.au/images/canadian-solar.png" },
    { name: "longi-solar", logo: "https://shop.solar-kit.eu/storage/uploads/crtSm54pxUHf9zqwwlg00tCW1KRmYOeF2W58L8vs.png" },
    { name: "solis", logo: "/images/brand-solis-logo.svg" },
    { name: "invt", logo: "/images/brand-invt-logo.png" },
    { name: "growatt", logo: "https://pvgroup.pl/wp-content/uploads/2019/10/LogoGrowatt.png" },
    { name: "easyway", logo: "/images/brand-easyway-logo.svg" },
    { name: "tran-phu", logo: "/images/logo-tran-phu.png" },
    { name: "leader", logo: "https://vinasolution.com/wp-content/uploads/2021/01/logo-leader.jpg" },
    { name: "cadivi", logo: "https://cdn.haitrieu.com/wp-content/uploads/2023/11/Logo-Cong-Ty-Day-Cap-Dien-Viet-Nam.png" },
    { name: "pntech", logo: "https://pinmattroi.org/wp-content/uploads/2020/12/logo-pntech.png" },
    { name: "nival", logo: "https://nival.vn/uploads/data/5140/files/images/logo/logo-Nival-1.png" },
    { name: "ls", logo: "https://upload.wikimedia.org/wikipedia/commons/8/8e/LS_logo.svg" },
    { name: "cadisun", logo: "https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/CADI-SUN.gif/1200px-CADI-SUN.gif" },
    { name: "aisikai", logo: "https://ilrorwxhkipjlm5p.leadongcdn.com/cloud/onBprKokRlkSqkrpqmlpk/LOGO-AISIKAIlanse.png" },
    { name: "vinacontrol", logo: "https://www.vinacontrol.com.vn/img/04%20Homepage_logo.png" },
    { name: "rsic", logo: "https://kiemdinhkhuvuc1.vn/wp-content/uploads/2020/10/logo-website-e1601584209799.png" },
    { name: "suntre", logo: "https://gg.lnwfile.com/_webp_max_images/300/300/li/pc/mo.webp" },
];
---

<Layout title="Giới thiệu">

  <!-- <div class="min-h-screen bg-gray-100 flex items-center justify-center">
    <CompanyHistory client:load />
  </div> -->

    <div class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0">
        <div class="absolute inset-0 -z-10 overflow-hidden">
          <svg class="absolute top-0 left-[max(50%,25rem)] h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
            <defs>
              <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                <path d="M100 200V.5M.5 .5H200" fill="none" />
              </pattern>
            </defs>
            <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
              <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0" />
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)" />
          </svg>
        </div>
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
          <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
              <div class="lg:max-w-lg">
                <p class="text-base/7 font-semibold text-green-600">SOLARMAX</p>
                <h1 class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl">Giải pháp Năng lượng Mặt trời Cao cấp</h1>
                <!-- <p class="mt-6 text-xl/8 text-gray-700"></p> -->
              </div>
            </div>
          </div>
          <div class="-mt-12 -ml-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
            <img class="w-[48rem] max-w-none rounded-xl bg-gray-900 ring-1 shadow-xl ring-gray-400/10 sm:w-[57rem]" src="/images/banner-dien-mat-troi-xuan-thien.jpeg" alt="">
          </div>
          <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
              <div class="max-w-xl text-base/7 text-gray-700 lg:max-w-lg">
                <p class="mb-4">CÔNG TY CỔ PHẦN ĐẦU TƯ SLM tham gia vào lĩnh vực điện mặt trời tại Việt Nam từ năm 2019, với trụ sở chính đặt tại Hà Nội, Việt Nam. SolarMax mang trong mình sứ mệnh "Điện xanh mái nhà Việt", cam kết cung cấp các giải pháp năng lượng mặt trời tiên tiến, bền vững và hiệu quả cho mọi ngôi nhà và doanh nghiệp trên khắp Việt Nam.                </p>
                <p class="mb-4">Với mục tiêu đến năm 2030, SolarMax sẽ hoàn thành lắp đặt 1 triệu m² tấm pin năng lượng mặt trời trên các mái nhà, góp phần xây dựng một tương lai xanh, giảm thiểu khí thải và tiết kiệm chi phí năng lượng cho người dân.</p>
                <p >Chúng tôi tự hào sở hữu đội ngũ R&D giàu kinh nghiệm, kết hợp cùng các đối tác công nghệ hàng đầu trong ngành để phát triển các sản phẩm và giải pháp đạt tiêu chuẩn quốc tế. SolarMax luôn lấy "Tin - Tốc- Tín" làm giá trị cốt lõi:</p>
                <ul role="list" class="mt-8 space-y-8 text-gray-600">
                  <li class="flex gap-x-3">
                    <svg class="mt-1 size-5 flex-none text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 0 1-1.44-8.765 4.5 4.5 0 0 1 8.302-3.046 3.5 3.5 0 0 1 4.504 4.272A4 4 0 0 1 15 17H5.5Zm3.75-2.75a.75.75 0 0 0 1.5 0V9.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0l-3.25 3.5a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z" clip-rule="evenodd" />
                    </svg>
                    <span><strong class="font-semibold text-gray-900">Tín: </strong>Xây dựng niềm tin vững chắc với khách hàng thông qua chất lượng và sự minh bạch.</span>
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="mt-1 size-5 flex-none text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z" clip-rule="evenodd" />
                    </svg>
                    <span><strong class="font-semibold text-gray-900">Tốc:</strong> Triển khai nhanh chóng và hiệu quả các giải pháp năng lượng xanh.
                    </span>
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="mt-1 size-5 flex-none text-green-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z" />
                      <path fill-rule="evenodd" d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z" clip-rule="evenodd" />
                    </svg>
                    <span><strong class="font-semibold text-gray-900">Tín: </strong>Giữ vững cam kết và trách nhiệm trong mọi dự án.</span>
                  </li>
                </ul>
                <p class="mt-8">Chúng tôi không chỉ cung cấp giải pháp năng lượng mặt trời, mà còn mang đến niềm tin về một tương lai bền vững, nơi mỗi mái nhà Việt đều tỏa sáng bằng nguồn năng lượng xanh. SolarMax cam kết đồng hành cùng bạn, kiến tạo giá trị lâu dài và cùng nhau xây dựng một Việt Nam phát triển vững mạnh.</p>
                <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900"> Trân trọng</h2>
               
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="bg-white">
        <main class="isolate">
           
            <h1
            class="text-left tracking-tight text-4xl p-6 font-bold leading-10 text-gray-900 block sm:block lg:hidden"
        >
            Chúng tôi có
        </h1>
            <dl
                class="grid grid-cols-2 gap-0.5 overflow-hidden lg:rounded-2xl text-center sm:grid-cols-2 lg:grid-cols-4 lg:mx-48"
            >
                {
                    items.map((item) => (
                        <div class="flex flex-col bg-red-600 p-8 lg:p-8 sm:p-1">
                            <dt class="font-semibold text-md leading-6 text-white">
                                {item.title}
                            </dt>
                            <dd class="order-first text-4xl font-semibold tracking-tight text-white">
                                {item.value}
                            </dd>
                        </div>
                    ))
                }
            </dl>

            <div class="relative isolate -z-10 mt-16 sm:mt-12">
                <div
                    class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 justify-center overflow-hidden [mask-image:radial-gradient(50%_45%_at_50%_55%,white,transparent)]"
                >
                    <svg
                        class="h-[40rem] w-[80rem] flex-none stroke-gray-200"
                        aria-hidden="true"
                    >
                        <defs>
                            <pattern
                                id="e9033f3e-f665-41a6-84ef-756f6778e6fe"
                                width="200"
                                height="200"
                                x="50%"
                                y="50%"
                                patternUnits="userSpaceOnUse"
                                patternTransform="translate(-100 0)"
                            >
                                <path d="M.5 200V.5H200" fill="none"></path>
                            </pattern>
                        </defs>
                        <svg
                            x="50%"
                            y="50%"
                            class="overflow-visible fill-gray-50"
                        >
                            <path
                                d="M-300 0h201v201h-201Z M300 200h201v201h-201Z"
                                stroke-width="0"></path>
                        </svg>
                        <rect
                            width="100%"
                            height="100%"
                            stroke-width="0"
                            fill="url(#e9033f3e-f665-41a6-84ef-756f6778e6fe)"
                        ></rect>
                    </svg>
                </div>
                <div class="mx-auto max-w-7xl px-6 lg:px-8">
                    <h1 class="text-left tracking-tight text-4xl font-bold leading-10 text-gray-900 block sm:block lg:hidden">
                        Đối tác
                    </h1>
                    <h1 class="text-center tracking-tight text-4xl font-bold leading-10 text-gray-900 hidden sm:hidden lg:block">
                        Đối tác chiến lược
                    </h1>
                    <div class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-6">
                        {partners.map((partner) => (
                            <img
                                class="col-span-2 max-h-12 w-full object-contain lg:col-span-1"
                                src={partner.logo}
                                alt={partner.name}
                            />
                        ))}
                    </div>
                </div>
            </div>

            <div class="mx-auto mt-16 pb-16 max-w-7xl px-6 sm:mt-40 lg:px-8">
                <div
                    class="mx-auto flex max-w-2xl flex-col items-end justify-between gap-16 lg:mx-0 lg:max-w-none lg:flex-row"
                >
                 
                </div>
            </div>
        </main>
    </div>
   
      
</Layout>
